<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
  <a class="navbar-brand" href="/home">
    BaseBall Players Info
  </a>
  <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="btn btn-success pl-2 lr-2 ml-3 " href="/chart">Generate Players Age Graph<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="btn btn-success pl-2 lr-2 ml-3 " href="/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
    </ul>
  </div>
</nav>
{#{% for player in players %}#}
{#        <table>#}
{#            <tr>#}
{#            <td>{{ player.Height_inches }}</td>#}
{#            <td>{{ player.Weight_lbs }}</td>#}
{#            <td>{{ labels | safe }}</td>#}
{#            <td>{{ values | safe }}</td>#}
{#        </tr>#}
{#        </table>#}
{#        {% endfor %}#}
<canvas id="myChart" ></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ labels | safe }},
        datasets: [{
            label: 'Players Age',
            data: {{ values | safe }},
            backgroundColor: [
                'rgb(255, 99, 132)'
            ],
            borderColor: [
                'rgb(0,99,132)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>
</body>
</html>

