<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
{% for player in players %}
        <table><tr>
            <td>{{ player.Height_inches }}</td>
            <td>{{ player.Weight_lbs }}</td>
{#            <td>{{ labels }}</td>#}
{#            <td>{{ values }}</td>#}
        </tr>
        </table>
        {% endfor %}
<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ labels | safe }},
        datasets: [{
            label: 'Height and weights of the players',
            data: {{ values | safe }},
            backgroundColor: [
                'rgb(255, 99, 132)'
            ],
            borderColor: [
                'rgb(255,99,132)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
</body>
</html>