{% extends "layout.html" %}
{% block content %}
</br>
</br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-100" >
                <div class="card-body">
                    <form class="form" method="POST" action="/signup_process">
                        <label>Name</label></br>
                        <input type="text" class="form-control" name="new_name"></br>
                        <label>Email</label></br>
                        <input type="email" class="form-control" name="new_email"></br>
                        <label>Password</label></br>
                        <input type="password" class="form-control" name="new_password"></br>
                        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Register">
                    </form></br>
                    <p>Have an Account? <a href="/">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}